.search-container{

    width: 70%;
    height: 50px;
    background-color:#EDEFF2;
    border: 2px solid #888686;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
 

}


.search-container input{ 
    width: 80%;
    height: 40px;
    background-color:#EDEFF2;
    border: none;


}
.crm-line{
    width: 90%;
    max-width: 600px;
    border-radius: 4px;
    background-color: #EFEEF9;
    color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.crm-line p{
    font-weight: 600;
}
.crm-HomePage{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

.nameBox{
    width: 50%;
}

input:focus{
    outline: none;


}