.crm-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
 }

.crm-logo {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
 }

.navbar-toggle {
  display: none;
  border: none;
  background-color: transparent;
 
}

.navbar-toggle span {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #000000;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
  border-radius: 30px;
  padding: 10px 15px;
}

.navbar-links a:hover {
  color: #6c63ff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  background-color: #6c63ff;
  color: #FFFFFF;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1);
  transform: translateX(-280px);
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center vertically */
  padding: 20px;
  margin: 0;
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 15px;
  background-color:#03022c;
  height: 40px;
  align-items: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
  border-radius: 30px;
  padding: 10px 15px;
}

.sidebar ul li a:hover {
  color: #3b3b3b;
}

@media (max-width: 768px) {
  .logo {
    font-size: 20px;
  }
  
  .navbar-toggle {
    display: block;
  }
  
  .navbar-links {
    display: none;
  }
  
  .sidebar-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
  }
  
  .sidebar ul {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
   }
}
