/* Board.css */

.dashboard-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.grid-item {
  flex: 1 1 30%;
  margin: 15px;
}

.dashboard-box {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.dashboard-box:hover {
  background-color: #e0e0e0;
}

.return-box {
  padding: 20px;
  background-color: #4caf50;
  color: #fff;
  border: 1px solid #45a049;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.return-box:hover {
  background-color: #45a049;
}

.margin-box {
  padding: 20px;
  background-color: #2196f3;
  color: #fff;
  border: 1px solid #1e87db;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.margin-box:hover {
  background-color: #1e87db;
}
