table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    min-width: 100px;
    min-height: 150px;

 }
tr{
    min-height: 150px;
    min-width: 100px;
}
tr:hover {
    background-color: hsl(0, 0%, 96%);
   

    
}

Table thead {
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
  }

.tableContainer {
    background-color: #1E1F25;
    padding: 0 10px 10px 10px;
    overflow: scroll;
  }
  

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    height: 500px; /* set a fixed height for the modal content container */
    overflow-y: scroll;
  }
  