table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    min-width: 100px;
    min-height: 150px;

 }
tr{
    min-height: 150px;
    min-width: 100px;
}
tr:hover {
    background-color: hsl(0, 0%, 96%);
   

    
}

Table thead {
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
  }

.tableContainer {
    background-color: #1E1F25;
    padding: 0 10px 10px 10px;
    overflow: scroll;
  }
  