.PasswordForgotPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.PasswordForgotPage-body{
    display: flex;
    flex-direction: column;
    margin: 5%;

}

.PasswordForgotPage-body h2{
    font-weight: 600;
    font-size: 33px;
    display: flex;
    text-align: left;
    color:rgb(2, 4, 52);
    margin-bottom:  10%;

}

.PasswordForgotPage-body .p1{
    font-size: 16px;
    color: #bfbfc0;
    margin: 0;

}


.PasswordForgotPage-body input{
    width: 100%;
    height: 55px;
    border: none;
    background-color: #DFE3E7;
    margin-bottom:6%;
    border-radius: 10px;
    color: rgb(2, 4, 52);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10%;
}