.takeAccountPage{
    width: 100%;
    align-items: center;
   
}
.pp{
    margin-bottom: 100px;
}
.account-box{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid rgb(186, 183, 183);
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 25px;
}

.miniform{
    width: 50%;

}


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .head-cust-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .head-cust-list button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .head-cust-list button:hover {
    background-color: #45a049;
  }
  