.App {
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Basier Circle',
  sans-serif;
  height: 100%;
  background-color: #F3F4F5;
  

}

input:focus, textarea:focus, select:focus{
  outline: none;
}
 
